In [2]:
import pandas as pd

df = pd.read_csv('Confmat.csv')
df

Empty DataFrame
Columns: [0, 0.1, 1197 0, 1, 114 1, 0.2, 230 1, 1.1, 217]
Index: []

In [1]:
import os

os.name

'posix'

In [3]:
os.getcwd()

'/home/ruju/My_Workplace/Telco_churn_pipeline'

In [5]:
import pandas as pd

df = pd.read_csv("https://kubeflow-v2.endpoints.mlopsbw.cloud.goog/pipeline/artifacts/get?source=minio&bucket=mlpipeline&key=artifacts%2Fml-pipeline-4jfjr%2Fml-pipeline-4jfjr-2260997210%2Frf-model-conf_matr.tgz")
df

Empty DataFrame
Columns: [<!doctype html><html lang="en"><head><meta charset="utf-8"/><link rel="shortcut icon" href="./favicon.ico"/><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/><meta name="theme-color" content="#000000"/><link rel="manifest" href="./manifest.json"/><base href="./"><title>React App</title><link href="./static/css/main.b414d29c.chunk.css" rel="stylesheet"></head><body><noscript>You need to enable JavaScript to run this app.</noscript><div id="root"></div><script>!function(l){function e(e){for(var r, t, n=e[0], o=e[1], u=e[2], f=0, i=[];f<n.length;f++)t=n[f], p[t]&&i.push(p[t][0]), p[t]=0;for(r in o)Object.prototype.hasOwnProperty.call(o, r)&&(l[r]=o[r]);for(s&&s(e);i.length;)i.shift()();return c.push.apply(c, u||[]), a()}function a(){for(var e, r=0;r<c.length;r++){for(var t=c[r], n=!0, o=1;o<t.length;o++){var u=t[o];0!==p[u]&&(n=!1)}n&&(c.splice(r--, 1), e=f(f.s=t[0]))}return e}var t={}, p={2:0}, c=[];function f(e){if(t[e])return t[e].exports;var r=t[e]={i:e, l:!1, exports:{}};return l[e].call(r.exports, r, r.exports, f), r.l=!0, r.exports}f.m=l, f.c=t, f.d=function(e, r.1, t){f.o(e, r)||Object.defineProperty(e, r.2, {enumerable:!0, get:t})}, f.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e, Symbol.toStringTag, {value:"Module"}), Object.defineProperty(e, __esModule, {value:!0})}, f.t=function(r, e){if(1&e&&(r=f(r)), 8&e)return r;if(4&e&&"object"==typeof r&&r&&r.__esModule)return r;var t=Object.create(null);if(f.r(t), Object.defineProperty(t, default, {enumerable:!0.1, value:r}), 2&e&&"string"!=typeof r)for(var n in r)f.d(t, n, function(e){return r[e]}.bind(null, n));return t}, f.n=function(e){var r=e&&e.__esModule?function(){return e.default}:function(){return e};return f.d(r, a, r), r}, f.o=function(e, r){return Object.prototype.hasOwnProperty.call(e, r)}, f.p="./";var r=window.webpackJsonp=window.webpackJsonp||[], n=r.push.bind(r);r.push=e, r=r.slice();for(var o=0;o<r.length;o++)e(r[o]);var s=n;a()}([])</script><script src="./static/js/1.e50774fe.chunk.js"></script><script src="./static/js/main.8154b2f7.chunk.js"></script></body></html>]
Index: []

[0 rows x 63 columns]

In [1]:
import numpy as np
import pandas as pd

df_churn = pd.read_csv("https://raw.githubusercontent.com/rujual/telco_churn_pipeline/master/Data1.csv")

empty_cols = ['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection','TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

for i in empty_cols:
    df_churn[i]=df_churn[i].replace(" ",np.nan)

df_churn.drop(['customerID'], axis=1, inplace=True)
df_churn = df_churn.dropna()
binary_cols = ['Partner','Dependents','PhoneService','PaperlessBilling']

for i in binary_cols:
    df_churn[i] = df_churn[i].replace({"Yes":1,"No":0})

#Encoding column 'gender'
df_churn['gender'] = df_churn['gender'].replace({"Male":1,"Female":0})


category_cols = ['PaymentMethod','MultipleLines','InternetService','OnlineSecurity',
               'OnlineBackup','DeviceProtection',
               'TechSupport','StreamingTV','StreamingMovies','Contract']

for cc in category_cols:
    dummies = pd.get_dummies(df_churn[cc], drop_first=False)
    dummies = dummies.add_prefix("{}#".format(cc))
    df_churn.drop(cc, axis=1, inplace=True)
    df_churn = df_churn.join(dummies)

df_churn['Churn'] = df_churn['Churn'].replace({"Yes":1,"No":0})


df1 = df_churn.loc[:,:'Churn']
df1_int = df1[set(df1.columns)-{'tenure','MonthlyCharges','TotalCharges'}]
df1_float = df1[['tenure','MonthlyCharges','TotalCharges']]
df2 = df_churn.loc[:,'PaymentMethod#Bank transfer (automatic)':]

def get_item(a):
    return int(a)

def get_fl(a):
    return float(a)

df1_int = df1_int.applymap(get_item)
df1_float = df1_float.applymap(get_fl)
df2 = df2.applymap(get_item)
df_churn = df1_int.join(df1_float.join(df2))
df_churn.dropna(inplace=True)

In [2]:
pd.set_option('display.max_columns', 50)
df_churn

,PhoneService,gender,SeniorCitizen,Dependents,Partner,PaperlessBilling,Churn,tenure,MonthlyCharges,TotalCharges,PaymentMethod#Bank transfer (automatic),PaymentMethod#Credit card (automatic),PaymentMethod#Electronic check,PaymentMethod#Mailed check,MultipleLines#No,MultipleLines#No phone service,MultipleLines#Yes,InternetService#DSL,InternetService#Fiber optic,InternetService#No,OnlineSecurity#No,OnlineSecurity#No internet service,OnlineSecurity#Yes,OnlineBackup#No,OnlineBackup#No internet service,OnlineBackup#Yes,DeviceProtection#No,DeviceProtection#No internet service,DeviceProtection#Yes,TechSupport#No,TechSupport#No internet service,TechSupport#Yes,StreamingTV#No,StreamingTV#No internet service,StreamingTV#Yes,StreamingMovies#No,StreamingMovies#No internet service,StreamingMovies#Yes,Contract#Month-to-month,Contract#One year,Contract#Two year
0,0,0,0,0,1,1,0,1.0,29.85,29.85,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
1,1,1,0,0,0,0,0,34.0,56.95,1889.50,0,0,0,1,1,0,0,1,0,0,0,0,1,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,1,0
2,1,1,0,0,0,1,1,2.0,53.85,108.15,0,0,0,1,1,0,0,1,0,0,0,0,1,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
3,0,1,0,0,0,0,0,45.0,42.30,1840.75,1,0,0,0,0,1,0,1,0,0,0,0,1,1,0,0,0,0,1,0,0,1,1,0,0,1,0,0,0,1,0
4,1,0,0,0,0,1,1,2.0,70.70,151.65,0,0,1,0,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,1,1,0,1,1,1,0,24.0,84.80,1990.50,0,0,0,1,0,0,1,1,0,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0
7028,1,0,0,1,1,1,0,72.0,103.20,7362.90,0,1,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0,1,0,0,1,0,1,0
7029,0,0,0,1,1,1,0,11.0,29.60,346.45,0,0,1,0,0,1,0,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
7030,1,1,1,0,1,1,1,4.0,74.40,306.60,0,0,0,1,0,0,1,0,1,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
7031,1,1,0,0,0,1,0,66.0,105.65,6844.50,1,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 50)
df_churn = pd.read_csv("Data.csv")
df_churn.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,cluster_number
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,84
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No,81
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,56
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,18
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,43

In [2]:
dfq = df_churn.iloc[0:,1:]
dfq

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,cluster_number
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,84
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No,81
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,56
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,18
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No,34
7028,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No,60
7029,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No,64
7030,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes,54
7031,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No,30

In [4]:
cols = df_churn.columns
df1 = df_churn[['tenure','MonthlyCharges','TotalCharges', 'cluster_number', 'SeniorCitizen']]
df1_int = df1[set(df1.columns)-{'tenure','MonthlyCharges','TotalCharges'}]
df1_float = df1[['tenure','MonthlyCharges','TotalCharges']]
df_churn = df_churn[set(df_churn.columns) - {'tenure','MonthlyCharges','TotalCharges',
                                             'cluster_number', 'SeniorCitizen'}]

def get_item(a):
    return int(a)

def get_fl(a):
    return float(a)

df1_int = df1_int.applymap(get_item)
df1_float = df1_float.applymap(get_fl)
df_churn = df_churn.join(df1_int.join(df1_float))
df_churn.dropna(inplace=True)
df_churn = df_churn[cols]
df_churn.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,cluster_number
0,7590-VHVEG,Female,0,Yes,No,1.0,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,84
1,5575-GNVDE,Male,0,No,No,34.0,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No,81
2,3668-QPYBK,Male,0,No,No,2.0,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,56
3,7795-CFOCW,Male,0,No,No,45.0,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,18
4,9237-HQITU,Female,0,No,No,2.0,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,43

In [6]:
df_churn.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure              float64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
cluster_number        int64
dtype: object

In [9]:

import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import string
import urllib

url = "https://raw.githubusercontent.com/rujual/telco_churn_pipeline/master/Data1.csv"
file = urllib.request.urlopen(url)
l = []
for line in file:
    decoded_line = line.decode()
    l.append(decoded_line.split(',')[:-1])
df_churn = pd.DataFrame(l[1:], columns=l[0])
empty_cols=['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection','TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

for i in empty_cols:
    df_churn[i]=df_churn[i].replace(" ",np.nan)

df_churn.drop(['customerID'], axis=1, inplace=True)
df_churn = df_churn.dropna()
binary_cols = ['Partner','Dependents','PhoneService','PaperlessBilling']

for i in binary_cols:
    df_churn[i] = df_churn[i].replace({"Yes":1,"No":0})

#Encoding column 'gender'
df_churn['gender'] = df_churn['gender'].replace({"Male":1,"Female":0})


category_cols = ['PaymentMethod','MultipleLines','InternetService','OnlineSecurity',
               'OnlineBackup','DeviceProtection',
               'TechSupport','StreamingTV','StreamingMovies','Contract']

for cc in category_cols:
    dummies = pd.get_dummies(df_churn[cc], drop_first=False)
    dummies = dummies.add_prefix("{}#".format(cc))
    df_churn.drop(cc, axis=1, inplace=True)
    df_churn = df_churn.join(dummies)

df_churn['Churn'] = df_churn['Churn'].replace({"Yes":1,"No":0})


df1 = df_churn.loc[:,:'Churn']
df1_int = df1[set(df1.columns)-{'tenure','MonthlyCharges','TotalCharges'}]
df1_float = df1[['tenure','MonthlyCharges','TotalCharges']]
df2 = df_churn.loc[:,'PaymentMethod#Bank transfer (automatic)':]

def get_item(a):
    return int(a)

def get_fl(a):
    return float(a)

df1_int = df1_int.applymap(get_item)
df1_float = df1_float.applymap(get_fl)
df2 = df2.applymap(get_item)
df_churn = df1_int.join(df1_float.join(df2))
df_churn.dropna(inplace=True)

n_estimators = 100
n_est = n_estimators

y1 = df_churn['Churn']
X1 = df_churn.drop(['Churn'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X1, y1, random_state=0)


sm = SMOTE(random_state=0)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train)
X_test_res, y_test_res = sm.fit_sample(X_test, y_test)

param_grid = {
    'n_estimators': [50, 100, 200],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [2,4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}

import xgboost as xgb

clfxg = xgb.XGBClassifier(objective='binary:logistic', verbosity=0, max_depth=2, eta = 1, silent=0)
clfxg.fit(X_train_res, y_train_res) #, num_round, watchlist)

y_test_pred = clfxg.predict(X_test_res)
conf = confusion_matrix(y_test_res, y_test_pred)

/home/ruju/anaconda3/lib/python3.7/site-packages/dask/dataframe/utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [10]:
conf

array([[1135,  176],
       [ 189, 1122]])

In [11]:
df_churn.dtypes

Churn                                        int64
SeniorCitizen                                int64
Partner                                      int64
gender                                       int64
PaperlessBilling                             int64
Dependents                                   int64
PhoneService                                 int64
tenure                                     float64
MonthlyCharges                             float64
TotalCharges                               float64
PaymentMethod#Bank transfer (automatic)      int64
PaymentMethod#Credit card (automatic)        int64
PaymentMethod#Electronic check               int64
PaymentMethod#Mailed check                   int64
MultipleLines#No                             int64
MultipleLines#No phone service               int64
MultipleLines#Yes                            int64
InternetService#DSL                          int64
InternetService#Fiber optic                  int64
InternetService#No                           int64
OnlineSecurity#No                            int64
OnlineSecurity#No internet service           int64
OnlineSecurity#Yes                           int64
OnlineBackup#No                              int64
OnlineBackup#No internet service             int64
OnlineBackup#Yes                             int64
DeviceProtection#No                          int64
DeviceProtection#No internet service         int64
DeviceProtection#Yes                         int64
TechSupport#No                               int64
TechSupport#No internet service              int64
TechSupport#Yes                              int64
StreamingTV#No                               int64
StreamingTV#No internet service              int64
StreamingTV#Yes                              int64
StreamingMovies#No                           int64
StreamingMovies#No internet service          int64
StreamingMovies#Yes                          int64
Contract#Month-to-month                      int64
Contract#One year                            int64
Contract#Two year                            int64
dtype: object

In [7]:
df_churn.to_csv('Data1.csv',index=False)

In [6]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
import string
import urllib

url = "https://raw.githubusercontent.com/rujual/telco_churn/master/Data.csv"
file = urllib.request.urlopen(url)
l = []
for line in file:
    decoded_line = line.decode()
    l.append(decoded_line.split(',')[:-1])
df_churn = pd.DataFrame(l[1:], columns=l[0])
empty_cols=['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection','TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn']

for i in empty_cols:
    df_churn[i]=df_churn[i].replace(" ",np.nan)

df_churn.drop(['customerID'], axis=1, inplace=True)
df_churn = df_churn.dropna()
binary_cols = ['Partner','Dependents','PhoneService','PaperlessBilling']

for i in binary_cols:
    df_churn[i] = df_churn[i].replace({"Yes":1,"No":0})

#Encoding column 'gender'
df_churn['gender'] = df_churn['gender'].replace({"Male":1,"Female":0})


category_cols = ['PaymentMethod','MultipleLines','InternetService','OnlineSecurity',
               'OnlineBackup','DeviceProtection',
               'TechSupport','StreamingTV','StreamingMovies','Contract']

for cc in category_cols:
    dummies = pd.get_dummies(df_churn[cc], drop_first=False)
    dummies = dummies.add_prefix("{}#".format(cc))
    df_churn.drop(cc, axis=1, inplace=True)
    df_churn = df_churn.join(dummies)

df_churn['Churn'] = df_churn['Churn'].replace({"Yes":1,"No":0})


df1 = df_churn.loc[:,:'Churn']
df1_int = df1[set(df1.columns)-{'tenure','MonthlyCharges','TotalCharges'}]
df1_float = df1[['tenure','MonthlyCharges','TotalCharges']]
df2 = df_churn.loc[:,'PaymentMethod#Bank transfer (automatic)':]

def get_item(a):
    return int(a)

def get_fl(a):
    return float(a)

df1_int = df1_int.applymap(get_item)
df1_float = df1_float.applymap(get_fl)
df2 = df2.applymap(get_item)
df_churn = df1_int.join(df1_float.join(df2))
df_churn.dropna(inplace=True)

n_estimators = 100
n_est = n_estimators

y1 = df_churn['Churn']
X1 = df_churn.drop(['Churn'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X1, y1, random_state=0)


sm = SMOTE(random_state=0)
X_train_res, y_train_res = sm.fit_sample(X_train, y_train)
X_test_res, y_test_res = sm.fit_sample(X_test, y_test)

param_grid = {
    'n_estimators': [50, 100, 200],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [2,4,5,6,7,8],
    'criterion' :['gini', 'entropy']
}

import xgboost as xgb

clfxg = xgb.XGBClassifier(objective='binary:logistic', verbosity=0, max_depth=2, eta = 1, silent=0)
clfxg.fit(X_train_res, y_train_res) #, num_round, watchlist)

y_test_pred = clfxg.predict(X_test_res)
conf = confusion_matrix(y_test_res, y_test_pred)
conf

array([[1135,  176],
       [ 189, 1122]])

In [5]:
rfc=RandomForestClassifier(random_state=42,n_estimators=n_est)
gsv_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5)
rfc.fit(X_train_res, y_train_res)

rfc_best=RandomForestClassifier(random_state=42, max_features='auto', n_estimators= 50, max_depth=8,
                                criterion='gini')

rfc_best.fit(X_train_res, y_train_res)
X_test_res, y_test_res = sm.fit_sample(X_test, y_test)
y_test_pred = rfc_best.predict(X_test_res)
rf_score = rfc_best.score(X_test_res, y_test_res)
conf = confusion_matrix(y_test_res, y_test_pred)
conf

array([[1057,  254],
       [ 146, 1165]])